<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
    <script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>

    <style>
        .btn {
            border-radius: 8px;
            min-width: 68px;
        }

        button a {
            text-decoration: none;
            color: #fff;
        }
    </style>
</head>
<body onload="hideDivAfterDelay()">
<div th:replace="~{comman/header :: navbar}"></div>
<div align="center">
    <br/>
    <h2>Class Creation</h2>
    <h2><a class="nav-link" th:href="@{'/class/new'}">Add</a></h2>

    <div class="col-sm-12" align = "center">
        <div id="myDiv">
            <div th:if="${success_message}" class="alert alert-success text-center">
                [[${success_message}]]
            </div>

            <div th:if="${error_message}" class="alert alert-danger text-center">
                [[${error_message}]]
            </div>

            <div th:if="${errorMessage}" class="alert alert-danger text-center">
                [[${errorMessage}]]
            </div>
        </div>
        <div class="panel-body" align = "center" >
            <table class="table table-bordered">
                <thead class="thead-dark">
                <tr>
                    <th class="text-center">Class ID</th>
                    <th>Class Name</th>
                    <th>Course Name</th>
                    <th class="text-center">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="class : ${classList}">
                    <td class="text-center" th:text="${class.id}">Class ID</td>
                    <td th:text="${class.className}">Class Name</td>
                    <td th:text="${class.courseName}">Course Name</td>

                    <td class="text-center">
                        <button type="button" class="btn btn-info"><a th:href="@{'/class/edit/' + ${class.id}}">Edit</a></button>
                        <button type="button" class="btn btn-danger"><a th:href="@{'/class/delete/' + ${class.id}}" onclick="return confirmDelete()">Delete</a></button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
<script th:inline="javascript">
    function confirmDelete() {
        if (confirm('Are you sure you want to delete this item?')) {
            return true;
        } else {
            return false;
        }
    }

    function hideDivAfterDelay() {
        // Lấy thẻ div cần ẩn
        var divElement = document.getElementById("myDiv");

        // Đặt thời gian trễ (tính bằng mili giây)
        var delayInMilliseconds = 3000; // Ví dụ: 3 giây

        // Gọi hàm setTimeout để thay đổi thuộc tính display của thẻ div sau thời gian trễ
        setTimeout(function() {
            divElement.style.display = "none";
        }, delayInMilliseconds);
    }
</script>
</body>
</html>